<div class="container py-5 d-flex flex-column" style="max-width: 800px;">
  <header class="mb-4">
    <h1 id="container-headers">Experience</h1>
  </header>
  <br>

  <div class="d-flex flex-column gap-4">
    {% for experience in experiences reversed %}
    <div class="experience-card">
      <div class="experience-header">
        <div class="experience-left">
          <h2 class="company-name">{{ experience.subtitle }}</h2>
          <h3 class="job-title">{{ experience.title }}</h3>
        </div>
        <p class="duration">{{ experience.start_date }} - {{ experience.end_date_is_null }}</p>
      </div>
      <div class="experience-details">{{ experience.description|safe }}</div>
    </div>
    {% endfor %}
  </div>
</div>