name: Deploy to PythonAnywhere

on:
  push:
    branches:
      - main

# Prevent concurrent deployments
concurrency:
  group: deploy-production
  cancel-in-progress: true

jobs:
  # Run Tests
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run Tests
        env:
          SECRET_KEY: "django-insecure-dummy-key-for-testing-only"
        run: |
          python manage.py test

  # Deploy to Server
  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: MiguelRizzi/pythonanywhere-deploy-ssh@v1.0.0
        with:
          server_name: ${{ secrets.PA_HOST }}
          username: ${{ secrets.PA_USERNAME }}
          ssh_private_key: ${{ secrets.PA_SSH_PRIVATE_KEY }}
          working_directory: ${{ secrets.PA_WORKING_DIRECTORY }}
          venv_directory: ${{ secrets.PA_VENV_DIRECTORY }}
          wsgi_file: ${{ secrets.PA_WSGI_PATH }}
          
          install_requirements: 'true'
